{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/dash-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage Your Site</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            
            <h2>Basic Actions</h2>
            
            <a href="/dashboard"><button class="btn btn-primary">Dashboard Home</button></a>
            <a href="/logout"><button class="btn btn-primary">Logout</button></a>
            <hr>
            <h2>Add/Edit Items</h2>

            <form name="sentMessage" id="contactForm" action="/addItem/{{sno}}" method="post">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Item Name</label>
                        <input type="text" class="form-control" placeholder="Item Name" id="item" name="item" required value="{{prod.prodName}}">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                
                <br>
                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}